[mysqld]
server-id = 101  # Unique server ID for db-master1
log-bin = mysql-bin
binlog_format = ROW

# Specific replication configuration for db-master1
auto_increment_increment = 2
auto_increment_offset = 1

# Replication settings for db-master2
relay-log = mysql-relay-bin
log-slave-updates = true
read-only = false  # Allow writes on db-master1
replicate-same-server-id = 0
replicate-ignore-db = mysql
replicate-ignore-db = information_schema
replicate-ignore-db = performance_schema
replicate-ignore-db = sys
tls_version = ""